* {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px 0 0 20px;
  background-color: #008b8b;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4fffe8;
}

body {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(14, 174, 87, 1) 0%,
    rgba(12, 116, 117, 1) 90%
  );
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: row;
  font-family: century Gothic;
}

.input-bay {
  display: flex;
  flex-direction: column;
  margin-top: 45px;
  position: sticky;
}

input {
  background: #fff;
  color: #333;
  border: none;
  text-decoration: none;
  padding: 7px;
  border-radius: 20px;
}

textarea {
  color: #333;
  background-color: white;
}

.input-bay button {
  background-color: #008b8b;
  max-width: 50%;
  margin: 15px 0;
  padding: 5px 5px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #fff;
  box-shadow: 0 0 5px #00fe08;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  border: 2px solid white;
}
.input-bay button:hover {
  background: #48a14d;
  color: white;
  text-decoration: none;
}

.input-bay button:active {
  background: rgba(12, 85, 145, 0.3);
}

.input-bay button:last-child {
  max-width: 100%;
}
.generate button {
  width: 130px;
}

.clear button {
  background: #e52d27;
  max-width: 30%;
  margin: 15px 0;
  padding: 5px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  font-weight: bolder;
  color: white;
  box-shadow: 0 0 5px #00fe08;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid white;
}
.clear button:hover {
  background: white;
  color: #e52d27;
}
.clear1 button {
  background: #e52d27;
  max-width: 30%;
  margin: 15px 0;
  padding: 5px 10px;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 5px #00fe08;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid white;
}
.clear1 button:hover {
  background: white;
  color: #e52d27;
}

span {
  color: #fff;
  font-size: 20px;
  margin: 10px 0;
}

.pdf-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.test-paper {
  background: #fff;
  width: 793px;
  height: 1070px;
  margin-top: 50px;
  box-shadow: 0 0 20px 5px rgb(82 82 82 / 50%);
}

p {
  text-align: end;
  margin: 0 20px;
  color: #5a5a5a;
}

.data {
  height: 95%;
  margin: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  width: 100%;
}

.first {
  justify-content: center;
  display: flex;
}

.second {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.second img {
  width: 40%;
}

.second .left {
  transform: scale(-1, 1) rotate(10deg);
}

.second .right {
  transform: rotate(10deg);
}

.second div {
  margin: 25px 0;
}

.center {
  background: #9bbb59;
  padding: 30px 40px;
  border: 2px solid;
  border-radius: 10px;
}

.center p {
  color: black;
  text-align: center;
  white-space: nowrap;
  margin: 0;
  font-size: 25px;
  font-weight: 900;
}

table {
  width: 650px;
  text-align: center;
}

th {
  background-color: #9bbb59;
  height: 50px;
  font-size: 25px;
}

td {
  font-size: 24px;
  padding: 8px 0;
  width: 50%;
}

.highlight {
  background-color: #d6e3bc;
}
